.ticket {
	width: fit-content;
	color: $color-black;
	font-style: normal;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: normal;
	font-family: $font-montserrat;

	&[data-state='delayed-open'] {
		opacity: 0.5;
	}
}
