@import '@styles/abstracts/variables';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $color-platinum;
	padding-inline: 25px;
	height: 64px;

	.nav-bar {
		ul {
			display: flex;
			flex-direction: row;
			gap: 25px;

			li {
				a {
					color: $color-gray-dim;
					font-weight: 500; // "semi bold";
					text-transform: capitalize;

					&:hover {
						color: $color-black;
					}

					&.current-page {
						color: $color-corporate-first;
						font-weight: 700; // bold;
					}
				}
			}
		}
	}

	.user-actions {
		display: flex;
		align-items: center;
		gap: 25px;

		.notification {
			display: grid;
			position: relative;
			place-items: center;
			background-image: url('/icons/bell.svg');
			width: 24px;
			height: 24px;
			overflow: hidden;

			&::before {
				content: '+99';
				font-size: 6px;
			}

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				z-index: -1;
				margin-top: 1px;
				margin-right: 1px;
				content: '🔴';
				font-size: 5px;
			}
		}

		.notification-dropdown {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 15px;
			margin-top: 8px;
			border: 1px solid $color-platinum;
			border-radius: 6px;
			background-color: $color-white;
			padding: 8px 12px;

			.notification-header {
				display: flex;
				justify-content: flex-end;
				padding-right: 10px;
			}

			.user-notifications {
				padding: 6px;
				font-weight: 600;
				text-align: center;
			}
		}

		.notifications-items {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			align-self: stretch;
			gap: 12px;
		}

		.title {
			display: flex;
			align-items: center;
			gap: 10px;
			border-radius: 3px;
			background: var(--color-gray-scale-white-smoke, #f4f4f4);
			padding: 6px 12px;
			width: 100%;

			h3 {
				color: #000;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: normal;
				font-family: $font-montserrat-alternate;
			}

			p {
				color: #000;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: normal;
				font-family: $font-montserrat;
			}
		}
	}

	.actions {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 0.75rem;

		.delete-all {
			color: #6a6a6a;
			font: normal 500 normal/normal $font-montserrat;
		}

		.view-all {
			color: #000;
			font: normal 500 normal/normal $font-montserrat;
			text-decoration: underline;
		}
	}
}

.dropdown {
	margin-right: 25px;
	border: 1px solid $color-platinum;
	border-radius: 6px;
	background-color: $color-white;
	padding: 4px;

	.username {
		padding: 6px 0;
		font-weight: 600;
		text-align: center;
	}

	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		border-radius: 3px;
		padding: 6px 12px;

		&:hover {
			background-color: $color-white-smoke;
		}

		.icon {
			width: 20px;
			height: 20px;
		}
	}
}
