// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/* Mixin Flexbox */
@mixin flex($direction, $wrap: nowrap, $justify, $align, $space: 0) {
	display: flex;
	flex-flow: $direction $wrap;
	justify-content: $justify;
	align-items: $align;
	gap: $space;
}

/* Mixin Grid */
@mixin grid($cols, $rows, $space: 0) {
	display: grid;
	grid-template-columns: $cols;
	gap: $space;
}
