@mixin only-desktop {
	@media only screen and (width < 640px) {
		body {
			* {
				display: none !important;
			}

			&::before {
				display: grid;
				place-items: center;
				width: 100dvw;
				height: 100dvh;
				content: 'Este sitio solo es accesible en computadoras';
				font-size: 48px;
				text-align: center;
			}
		}
	}
}
