@import 'reset', 'defensive', 'variables', 'breakpoints', 'decorators';
@import 'fonts';
@include only-desktop;

html {
	font-size: 62.5%; // 10px
}

body {
	font-weight: 400;
	font-family: $font-inter;
}

:is(button, input[type='submit']) {
	cursor: pointer;
	outline: 0;
	border: 0;
}

.avatar * {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	aspect-ratio: 1/1;
	width: 100%;
	height: 100%;
}

*:is([role='separator'], .separator) {
	background-color: $color-white-smoke;
	min-height: 1px;
}
