// FONTS
$font-inter: var(--font-inter);
$font-montserrat: var(--font-montserrat);
$font-montserrat-alternate: var(--font-montserrat-alternate);

// * CORPORATE 
$color-corporate-first:#365B6D;
$color-corporate-second:#F2F1EC;
$color-corporate-third:#41C1BA;
$color-corporate-fourth:#6C9286;
$color-corporate-fifth:#289DD2;

// GRAY´S SCALE
$color-white:#FFFFFF ;
$color-white-smoke: #F4F4F4;
$color-platinum: #E4E4E4;
$color-gray-dim: #6A6A6A;
$color-black: #060606;
$color-blue-black: #10002E;
$color-light-gray: #D5D4DC;

// OTHER COLOR´S
$color-red: #EB001B;


